html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: inherit;
    background: var(--color-background);
    color: var(--color-text-primary);
}

.table {
    display: table;
    width: 100%;
    height: 100%;
}

.table > div {
    display: table-cell;
    vertical-align: top;
    padding: 20px;
}

.table > div:first-child {
    width: 75%;
}

.table > div:last-child {
    width: 25%;
    background: var(--color-background-secondary);
}

webmapx-map {
    position: relative;
    display: block;
    width: 100%;
    height: calc(100vh - 40px);
    border: 1px solid var(--color-border);
    overflow: hidden;
    background: var(--color-background-secondary);
}